#CreateItem{
     
     border-style: solid;
     border-width: 2px;
     border-color:  #a8a8a8;
     margin-top: 50px;
}

input {
     width: 400px;
     border-style: solid;
     border-width: 1px;
     border-color:  rgb(223, 172, 5);
    
}

p {
     padding-top: 10px;
}

.c-descriptionField, .cimgField {
     width: 400px; 
     height: 150px;     
     border-style: solid;
     border-width: 1px;
     border-color:  rgb(223, 172, 5);
     }

#c-itemN {
     padding-top: 20px;
}

#c-btn-Con {
     padding-top: 15px;
     padding-bottom: 20px;
}