 .CF-Container {
     margin-bottom: 80px;
 }
.updateNav {
  padding-left: 15px;
  padding-right: 15px;
padding-bottom: 0px;
margin-bottom: opx;
}

#welcome {
    margin-bottom: 50px;
}

h5 {
  font-size: 18px;
}

h3 {
  color:  rgb(192, 147, 0);
}

.Admin-margin {
  margin-bottom: 300px;
}