.checkout-card-body {
    border-bottom: 1px solid;
    padding: 5px;
}

.card-text{
    float: right;
}

.imgLeft {
    margin-right: 20px;
}

.checkout-card {
    position:absolute;
    bottom:0;
    right:0;
}

.checkout-btn {
    /* position: fixed; */
    /* right:    0;
    bottom:   0; */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    margin: 8px;
}

.pickup-checkout{
  float: right;
}

.checkout-text {
    text-align: center;
}