.card-body {
    border-bottom: 1px solid;
}

.card-text{
    float: right;
}

.imgLeft {
    margin-right: 20px;
}

.checkout-card {
    position:absolute;
    bottom:0;
    right:0;
}

.checkout-btn {
    position: fixed;
    right:    0;
    bottom:   0;
    margin: 8px;
}