.pro {
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .cart {
    display: inline;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
