.card {
    margin: 10px;
    border: transparent;
}

img {
    max-height: 275px;
    max-width: 200;
    overflow: hidden;
}

.item-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: solid 1px;
    padding: 5px;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .ha:hover .item-image {
    opacity: 0.3;
  }

  .ha:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
  }

  .item-card-title, .item-card-text {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  }
