nav, ul, li {
    text-decoration: none;
    list-style-type:none;
}

a {
    cursor: pointer;
    list-style-type:none;
}

.navBar {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.navItem {
    text-decoration: none;
    padding-left: 10px;
    padding-right:10px;
}

.navLink {
    text-decoration: none;
}

.dropItem {
    text-decoration: none;
}


a:link, a:visited, a:active {
  color: black;
}

a:hover {
  color: #505050;
}

button:visited, button:active {
    text-decoration: none;
    border: none;
}

#inBlock {
    display: block;
}

#shop {
    padding-right: 0px;
}

#navbarDropdownMenuLink {
    /* padding: 0px, 0px, 0px,0px; */
    /* margin-right: 20px; */
}

.dropdown-menu{
    padding: 5px;
}

.carousel-inner{
    border: 1px solid black;
    padding: 5px;
}

.about-img {
    border: 1px solid black;
    padding: 5px;
}

.about {
    font-family: 'Quicksand', sans-serif;
    
}